<div class="container">
  <h1>Sobre mí</h1>
  <p>Soy estudiante de Ingeniería de Sistemas con especialización en Backend y formación en Oracle Next Education. Apasionado por el desarrollo de software y la creación de soluciones tecnológicas.</p>
  <p>A lo largo de mi carrera, he adquirido conocimientos en áreas como programación, bases de datos, seguridad informática y diseño de sistemas. Me gusta abordar desafíos complejos y encontrar soluciones eficientes y escalables.</p>
  <p>Estoy constantemente aprendiendo y actualizando mis habilidades para mantenerme al tanto de las últimas tendencias en tecnología. Mi objetivo es seguir creciendo profesionalmente y contribuir al desarrollo de proyectos innovadores.</p>
  <p>Además de mi pasión por la tecnología, también disfruto del trabajo en equipo y la colaboración. Me considero una persona organizada, responsable y comprometida con la excelencia en mi trabajo.</p>
</div>

