<span class="background">
  <div class="social-media-container">
    <p class="social-media-text">¡Sígueme en redes sociales!</p>
    <div class="social-media-buttons">
      <a href="https://www.facebook.com/hellsing.moon" target="_blank" class="social-media-button card">
        <img alt="facebook" src="assets/icons/facebook.png" />
      </a>
      <a href="https://www.github.com/nelsoncresp" target="_blank" class="social-media-button card">
        <img alt="github" src="assets/icons/github.png" />
      </a>
      <a href="https://www.linkedin.com/in/nelson-crespo" target="_blank" class="social-media-button card">
        <img alt="LinkedIn" src="assets/icons/linkedin.png" />
      </a>
    </div>
  </div>
</span>
